<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>

        {# uncomment below if you want to use Tailwind CSS auto generated style (with npm run tailwindcss-watch command ) #}
		{# <link rel="stylesheet" href="{{ base_path }}/assets/css/style.css?av={{ _assets_version }}"> #}

        {# uncomment below if you want to use Alpine.js #}
        {# <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.11.1/cdn.min.js" integrity="sha512-p5D8PQLs985Yn0ag6o2zDx/YTzcZKq7YsO+rM79PnqJ0ahDrdR9jg8iCZXdIjdA8vBh4vgsdp4wcO1S+ShE43Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}
        
        {# uncomment below if you want to use date-fns #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.0.0-alpha0/date_fns.min.js" integrity="sha512-0kon+2zxkK5yhflwFqaTaIhLVDKGVH0YH/jm8P8Bab/4EOgC/n7gWyy7WE4EXrfPOVDeNdaebiAng0nsfeFd9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}        
        
        {# uncomment below if you want to use jQuery #}
        {# <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}
        
        <title>{% block page_title %}{% endblock page_title %}</title>
	</head>
	<body x-data>
		{% block content %}{% endblock content %}
		
		{% block general_script %}{% endblock general_script %}

		{% block module_script %}{% endblock module_script %}
	</body>
</html>
